@font-face {
    font-family: Silk;
    src: url(Silkscreen-Regular.ttf);
  } 
*{
    font-family: Silk;
}
h1{
    position: absolute;
    top: 135px;
    left: 285px;
    color: white;
    font-size: 40px;
}
h2{
    position: absolute;
    top: 273px;
    left: 300px;
    color: white;
    font-size: 35px;
}
h3{
    position: absolute;
    top: 375px;
    left: 280px;
    color: white;
    font-size: 23px;
}
